// base.scss - Lay foundations for the document structure
// See other quarks for styling individual HTML elements

$base-font-size: 16px;

// line height
$base-leading: 1.4;
$tight-leading: 1.2;


html {
  @include acumin-pro-regular;
  // We use pixels for the root font size; rem for components
  // http://css-tricks.com/rems-ems/
  font-size: $base-font-size;
  line-height: $base-leading;
  // Border-Box sizing FTW
  // http://www.paulirish.com/2012/box-sizing-border-box-ftw/
  box-sizing: border-box;
}

// Establish border-box sizing everywhere; see html {}
*, *:before, *:after {
  box-sizing: inherit;
}


// Establish a vertical rhythm
// Use margin-bottom everywhere
// http://csswizardry.com/2012/06/single-direction-margin-declarations/
$margin-bottom-rhythm: 1.5rem;

h1, h2, h3, h4, h5, h6, 
ul, ol, dd, 
p, figure, 
pre, table, fieldset, hr {
  margin: 0 0 $margin-bottom-rhythm;
}
