// Typekit definitions
// for the kit 'docs.lsst.io dev' on Jonathan Sick's account

$acumin-alt-stack: "Avenir Next", "Helvetica Neue", "Helvetica", "Verdana", sans-serif;

@mixin acumin-pro-regular {
  font-family: "acumin-pro", $acumin-alt-stack;
  font-style: normal;
  font-weight: 400;
}

@mixin acumin-pro-regular-italic {
  font-family: "acumin-pro", $acumin-alt-stack;
  font-style: italic;
  font-weight: 400;
}

@mixin acumin-pro-bold {
  font-family: "acumin-pro", $acumin-alt-stack;
  font-style: normal;
  font-weight: 700;
}

@mixin acumin-pro-condensed-light {
  font-family: "acumin-pro-condensed", $acumin-alt-stack;
  font-style: normal;
  font-weight: 300;
}

@mixin acumin-pro-wide-semibold {
  font-family: "acumin-pro-wide", $acumin-alt-stack;
  font-style: normal;
  font-weight: 600;
}

@mixin acumin-pro-wide-normal {
  font-family: "acumin-pro-wide",sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin acumin-pro-semicondensed-light {
  font-family: "acumin-pro-semi-condensed", $acumin-alt-stack;
  font-style: normal;
  font-weight: 300;
}

@mixin acumin-pro-semicondensed-semibold {
  font-family: "acumin-pro-semi-condensed", $acumin-alt-stack;
  font-style: normal;
  font-weight: 600;
}
